[submodule "public"]
	path = public
	url = https://github.com/NativeWheelhouse/nativewheelhouse.github.io.git
	branch = master
[submodule "themes/hugo-material"]
	path = themes/hugo-material
	url = https://github.com/NativeWheelhouse/hugo-material-docs.git
	branch = master
